Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Blockout/TerrainMaterial.uasset
Content/HP_Test_Folder/Blueprints/Mech/CurrentMech.uasset
Content/HP_Test_Folder/Blueprints/Mech/CurrentMech.uasset
Content/Weapons/Laser_1_PhysicsAsset.uasset
Content/Weapons/Laser_1_Skeleton.uasset
